.header {
    background-image: linear-gradient(120deg, #ffc3a0 0%,#ffafbd 100%);
}

.header .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100px;
}

.header form {
    height: 40px;
    margin: 10px 0;
}

.header form input{
    height: 100%;
    border: 1px solid black;
    outline: none;
    padding: 0 10px;
    margin: 0 3px;
    background: transparent;
    cursor: pointer;
}

.header .row {
    display: flex;
    color: palevioletred;
    margin: 10px 0;
}


.header .row span{
    height: 45px;
    line-height: 45px;
    font-size: large;
    font-weight: 600;
}